.info {
    margin: 2rem;
}
.contact {
    display: flex;
    text-align: center;
}
.contact > a {
    align-self: center;
    margin: 0.5rem;
    color: white;
}

.contact > .icon {
    height: 2rem;
    width: auto;
    margin: 0.5rem 2rem;
}
