.description {
    text-align: center;
    margin: 1rem;
}
.member {
    text-align: center;
}
.members {
    display: flex;
    align-items: stretch;
    width: 100%;
    text-align: center;
}
.members > div {
    flex: 1;
}
.members > div > p {
    margin: 0;
}
.members > div > br {
    content: "";
}
.contact {
    display: flex;
    flex-direction: row;
}
.location {
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 1rem 0;
}
.performances {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.performance {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.performance_date {
    margin: 0.5rem;
}
.performance_link {
    cursor: pointer;
    margin: 0.5rem;
}
.lenght {
    margin: 0.5rem;
    align-self: center;
}
.disclaimer {
    margin: 0.5rem;
    align-self: center;
    margin-bottom: 4rem;
}
